body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
}

header {
    margin-bottom: 25px;
}

footer {
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

li, .hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    gap: 25px;
}

.info-title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.info-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.info-img {
    border: 2px solid #3882f6;
    border-radius: 10px;
    max-width: 150px;
    height: auto;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    background-color: #e5e7eb;
    padding: 75px 250px;
}

.quote-person {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    padding: 40px 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.action-title-text {
    font-weight: bold;
    font-style: 18px;
}

.action-button {
    border: 2px solid #f9faf8;
}